<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile – FRAMES</title>
  <!--- TAILWIND CSS  -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body class="min-h-screen bg-black text-white">

<div class="geometric-bg"></div>

<main class="max-w-4xl mx-auto px-6 py-16">
  <!-- PROFILE HEADER AND CARD -->
  <div class="bg-black/70 border border-gray-800 rounded-2xl p-8 backdrop-blur-sm">

    <div class="flex items-center gap-6 mb-8">
      <img src="../static/assets/images/pfp/default.png"
           class="w-24 h-24 rounded-full border border-purple-500 object-cover"
           alt="Profile Picture">

      <div>
        <!-- USERNAME AND OTHER DATA -->
        <h1 class="text-3xl font-semibold">{{ username }}</h1>
        <p class="text-purple-400 text-sm">{{ title }}</p>
        <p class="text-gray-400 text-sm">Joined {{ joined }}</p>
      </div>
    </div>

        <!-- USER REVIEWS -->
    <div class="mt-12 space-y-6">
      <h2 class="text-2xl font-semibold">Reviews</h2>

      {% if reviews %}
        {% for r in reviews %}
          <div class="p-5 rounded-xl bg-gray-900 border border-gray-800">

            <div class="flex items-center gap-4 mb-3">
              <a href="/movie?id={{ r[0] }}">
                <img
                  src="{{ r[2] }}"
                  class="w-16 h-24 object-cover rounded-md border border-gray-700"
                >
              </a>

              <div>
                <a href="/movie?id={{ r[0] }}" class="text-lg font-semibold hover:underline">
                  {{ r[1] }}
                </a>
                <div class="text-yellow-400 font-medium">
                  ★ {{ (r[3] | default(0) | float) | round(0) | int }}
                </div>
                <div class="text-xs text-gray-400">
                  {{ r[5] }}
                </div>
              </div>
            </div>

            <p class="text-gray-300">
              {{ r[4] }}
            </p>

          </div>
        {% endfor %}
      {% else %}
        <p class="text-gray-400">This user hasn’t reviewed anything yet.</p>
      {% endif %}
    </div>


    <div class="mt-8 flex gap-4">
      <a href="/browse"
         class="px-4 py-2 rounded-lg border border-gray-700 hover:bg-gray-900">
        Back to Browse
      </a>
      <!-- LOG OUT -->
      <a href="/logout"
         class="px-4 py-2 rounded-lg bg-red-600 hover:bg-red-700">
        Log out
      </a>

      {% if session.get("user") == username %}
      <form method="POST" action="/delete_account"
            onsubmit="return confirm('Are you sure? This will permanently delete your account and all reviews.')">
        <button
          class="px-4 py-2 rounded-lg bg-red-600 hover:bg-red-700 border border-red-700 text-white">
          Delete Account
        </button>
      </form>
      {% endif %}

    </div>

  </div>

</main>

</body>
</html>
